<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>管理员登录</title>
  </head>
  <body>
    <div class="login-box">
      <form action="/admin/login" method="post">
        userName:<input type="text" name="username"><br>
        password:<input type="password" name="password">
        <input type="submit" value="sign in">
      </form>
    </div>
  </body>
</html>